body {
  margin: 0;
}

input {
  width: 90%;
  margin-top: 10px;
  margin-left: 8px;}

.sidebar {
  position : absolute;
  top : 0;
  left : -200px;
}

#navigation-toggle {
  position : absolute;
  left : 200px;
  color : white;
  text-decoration : none;
  padding : 20px;
}

.show {
  left : 0;
}

.navigation {
  height: 100vh;
  background-color : gray;
  width : 200px;
}

.navigation-items {
  list-style : none;
  padding : 0;
  margin : 0;
}

.navigation-item a {
  display : block;
  color : white;
  text-decoration : none;
  padding : 10px 30px;
  white-space: nowrap;
}

.navigation-item a:hover {
  background-color : darkgray;
}

.container {
  width: 100%;
  height: 150px;
  background-color: teal;
  position: relative;
}

.letter-circle {
  cursor: pointer;
  user-select: none;

  border-radius: 50%;
  margin-left: 50%;

  width: 35px;
  height: 35px;
  padding: 20px;

  background: gray;
  color: black;
  text-align: center;

  position: absolute;
  bottom: -35px;
  left: 0;

  font-size: 32px;
  font-weight: bold;

  border: 5px solid white;
}
