<div class="sidebar ng-class:{ show: $ctrl.state };">
  <a href="" id="navigation-toggle" ng-click="$ctrl.toggleState()">&#9776;</a>
  <div class="navigation">
    <div><input type="text" placeholder="Filter items below..." ng-model="$ctrl.query" /></div>
    <ul class="navigation-items">
      <li ng-repeat="item in $ctrl.items | filter:$ctrl.query" class="navigation-item">
        <a href="">{{ item }}</a>
      </li>
    </ul>
  </div>
</div>
